// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables

$body-bg: #1b1d27;
$body-color: #f7f7f7;
$primary: #f7f7f7;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS
body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}
// Border styling in tables
th {
  border-color: #777777;
}

td {
  border-color: #777777;
}

#bordertop {
  border-top-width: 1px;
  border-color: #777777;
}

.navbar-dark .navbar-brand {
  color: #f7f7f7;
  font-family: "Antic Didone", serif;
}

.font-antic {
  font-family: "Antic Didone", serif;
}

.fancy {
  display: inline-block;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: #fff;
  padding: 0.5em;
}

//Profilbild Styling
.profilepic {
  width: 300px;
  border-radius: 50%;
}

//Footer styling
.footer {
  color: #777777;
  padding: 20px 0px;
  font-size: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  border-color: #777777;
}
