// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables

$body-bg: #1b1d27;
$body-color: #f7f7f7;
$primary: #f7f7f7;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS
body {
  font-family: "Nunito", sans-serif;
}

.navbar-dark .navbar-brand {
  color: #f7f7f7;
  font-family: "Antic Didone", serif;
}

.fancy {
  display: inline-block;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: #fff;
  padding: 0.5em;
}
